html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
        script(src="/components/jquery/dist/jquery.js")
        title 添加文章
        script.
            function article_add(){
                var title = $('#title').val()
                var content = $('#content').val()
                $.ajax({
                    url: '/api/article/add',
                    type: 'post',
                    data: {title: title, content: content},
                    success: function (data) {
                        alert(data.message)
                        window.location.href = "/"
                    }
                })
                return false
            }
    body.container
        h1.text-center 添加文章
        form.form-horizontal.text-center(onsubmit="return article_add()")
            div.form-group
                label.col-sm-3.control-label 标题
                div.col-sm-12
                    input(type="text").form-control#title
            div.form-group
                label.col-sm-3.control-label 内容
                div.col-sm-12
                    textarea.form-control#content
            div.form-group
                div.col-sm-12
                   input(type="submit").btn.btn-primary
                