html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
        script(src="/components/jquery/dist/jquery.js")
        title 详情页
    body.container
        h1.text-center= articleDetail.title
        p.text-center= articleDetail.content